.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    padding-right: 10%;
}

h1 {
    font-family: 'Press Start 2P';  
    font-size: 3rem;
}

.score{
    font-size: 1.5rem;
}

.menu {
    margin: 5px;
    width: 150px;
}

.fastest {
    margin: 10px;
}

.button {
    width: 150px;
}
.left-side {
    display: flex;
    flex-wrap: wrap;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 640px;
    background-color: #f7fbe1;
    margin-left: 10vw;
    margin-right: 3vw;
    margin-top: 10%;
}

.board div {
    height: 32px;
    width: 32px;
}

.nextBoard {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    margin-top: 12vh;
    background-color:#f7fbe1;
}

.nextBoard div {
    height: 25px;
    width: 25px;
}

.tet {
    background-color: #a6dcef;
}